# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist/*
bower_components
node_modules
npm-debug.log
manifest.json
rtl.css
assets/css/*
assets/fonts/*
assets/js/*
!assets/js/_main.js
